module.exports = {
  "cookieSecret": process.env.COOKIESECRET || "MysuperSecretCookieSecret",
  "postgres": {
    "connectionString": process.env.DBCONNECTIONSTRING || "postgresql://bookedin:bookedin@localhost:5432/bookedin"
  }
}